<h1>Create Tasks</h1>
<%= form_for @task do |f| %>

	<p>
    <%= f.label :name %>
    <%= f.file_field :name %>
  </p>

  <p>
    <%= f.label :start_date %>
    <%= f.email_field :start_date %>
  </p>

  <p>
    <%= f.label :end_date %>
    <%= f.text_field :end_date %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
  
<%end%>