<%= link_to "Logout!", logout_path %>

<h1>Projects: </h1>
	

<table id="book" border="3" layout= "fixed" width=" 70%">

<% @projects.each do |f| %>
 <tr> 
  <td><%= f.name %><br /><%= f.start_date %><br /><%= f.end_d %><br />
</tr>
<% end %>

<%= link_to " Create Projects!", new_project_path %>
